<a href="https://colab.research.google.com/github/CM-007/DS_Python_SL/blob/main/pandasBasicSL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Pandas Self Study**

Importing Librarys

In [2]:
import numpy as np
import pandas as pd

Creating Data Frame object

In [3]:
pd.DataFrame({'A':[1,2,3]})

   A
0  1
1  2
2  3

**Object Creation**

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

**Creating a DataFrame by passing a NumPy array, with a datetime index using date_range() and labeled columns:**

In [5]:
dates =pd.date_range('20230620',periods=6)
dates

DatetimeIndex(['2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23',
               '2023-06-24', '2023-06-25'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.rand(6,4),index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2023-06-20  0.252008  0.732983  0.863945  0.471514
2023-06-21  0.478707  0.735768  0.576918  0.622748
2023-06-22  0.979894  0.084016  0.663203  0.219056
2023-06-23  0.180149  0.872180  0.526638  0.246744
2023-06-24  0.056315  0.496354  0.498475  0.780256
2023-06-25  0.954740  0.132602  0.441115  0.349760

**Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure:**

In [7]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",

    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

**The columns of the resulting DataFrame have different dtypes:**

In [8]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# **Viewing data**

In [9]:
df.head()

                   A         B         C         D
2023-06-20  0.252008  0.732983  0.863945  0.471514
2023-06-21  0.478707  0.735768  0.576918  0.622748
2023-06-22  0.979894  0.084016  0.663203  0.219056
2023-06-23  0.180149  0.872180  0.526638  0.246744
2023-06-24  0.056315  0.496354  0.498475  0.780256

In [10]:
df.tail(3)

                   A         B         C         D
2023-06-23  0.180149  0.872180  0.526638  0.246744
2023-06-24  0.056315  0.496354  0.498475  0.780256
2023-06-25  0.954740  0.132602  0.441115  0.349760

In [11]:
df.index

DatetimeIndex(['2023-06-20', '2023-06-21', '2023-06-22', '2023-06-23',
               '2023-06-24', '2023-06-25'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

## **describe() shows a quick statistic summary of your data:**

In [13]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.483635  0.508984  0.595049  0.448346
std    0.399148  0.333448  0.151645  0.220931
min    0.056315  0.084016  0.441115  0.219056
25%    0.198114  0.223540  0.505516  0.272498
50%    0.365357  0.614668  0.551778  0.410637
75%    0.835732  0.735072  0.641632  0.584940
max    0.979894  0.872180  0.863945  0.780256

### **Transposing your data:**

In [14]:
df.T

   2023-06-20  2023-06-21  2023-06-22  2023-06-23  2023-06-24  2023-06-25
A    0.252008    0.478707    0.979894    0.180149    0.056315    0.954740
B    0.732983    0.735768    0.084016    0.872180    0.496354    0.132602
C    0.863945    0.576918    0.663203    0.526638    0.498475    0.441115
D    0.471514    0.622748    0.219056    0.246744    0.780256    0.349760

## **DataFrame.sort_index() sorts by an axis:**

In [15]:
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2023-06-20  0.471514  0.863945  0.732983  0.252008
2023-06-21  0.622748  0.576918  0.735768  0.478707
2023-06-22  0.219056  0.663203  0.084016  0.979894
2023-06-23  0.246744  0.526638  0.872180  0.180149
2023-06-24  0.780256  0.498475  0.496354  0.056315
2023-06-25  0.349760  0.441115  0.132602  0.954740

## **DataFrame.sort_values() sorts by values:**

In [16]:
df.sort_values(by="B",ascending=False)

                   A         B         C         D
2023-06-23  0.180149  0.872180  0.526638  0.246744
2023-06-21  0.478707  0.735768  0.576918  0.622748
2023-06-20  0.252008  0.732983  0.863945  0.471514
2023-06-24  0.056315  0.496354  0.498475  0.780256
2023-06-25  0.954740  0.132602  0.441115  0.349760
2023-06-22  0.979894  0.084016  0.663203  0.219056

### **Selecting a single column, which yields a Series, equivalent to df.A:**

In [17]:
df.A
df['A']

2023-06-20    0.252008
2023-06-21    0.478707
2023-06-22    0.979894
2023-06-23    0.180149
2023-06-24    0.056315
2023-06-25    0.954740
Freq: D, Name: A, dtype: float64

In [18]:
df[0:3]

                   A         B         C         D
2023-06-20  0.252008  0.732983  0.863945  0.471514
2023-06-21  0.478707  0.735768  0.576918  0.622748
2023-06-22  0.979894  0.084016  0.663203  0.219056

In [19]:
df.loc[:,["A"]]

                   A
2023-06-20  0.252008
2023-06-21  0.478707
2023-06-22  0.979894
2023-06-23  0.180149
2023-06-24  0.056315
2023-06-25  0.954740

In [20]:
df[df["A"]>0.6]

                   A         B         C         D
2023-06-22  0.979894  0.084016  0.663203  0.219056
2023-06-25  0.954740  0.132602  0.441115  0.349760

In [21]:
df[df >0.1]

                   A         B         C         D
2023-06-20  0.252008  0.732983  0.863945  0.471514
2023-06-21  0.478707  0.735768  0.576918  0.622748
2023-06-22  0.979894       NaN  0.663203  0.219056
2023-06-23  0.180149  0.872180  0.526638  0.246744
2023-06-24       NaN  0.496354  0.498475  0.780256
2023-06-25  0.954740  0.132602  0.441115  0.349760

In [22]:
df3 =df.copy()
df3["E"] = ['One','Two','Three','Four','Three','Four']
df3

                   A         B         C         D      E
2023-06-20  0.252008  0.732983  0.863945  0.471514    One
2023-06-21  0.478707  0.735768  0.576918  0.622748    Two
2023-06-22  0.979894  0.084016  0.663203  0.219056  Three
2023-06-23  0.180149  0.872180  0.526638  0.246744   Four
2023-06-24  0.056315  0.496354  0.498475  0.780256  Three
2023-06-25  0.954740  0.132602  0.441115  0.349760   Four

In [23]:
df3[df3["E"].isin(["Two"])]

                   A         B         C         D    E
2023-06-21  0.478707  0.735768  0.576918  0.622748  Two

# **Oprations **

In [24]:
df.mean()

A    0.483635
B    0.508984
C    0.595049
D    0.448346
dtype: float64

In [25]:
df.value_counts()

A         B         C         D
0.056315  0.496354  0.498475  0.780256    1
0.180149  0.872180  0.526638  0.246744    1
0.252008  0.732983  0.863945  0.471514    1
0.478707  0.735768  0.576918  0.622748    1
0.954740  0.132602  0.441115  0.349760    1
0.979894  0.084016  0.663203  0.219056    1
dtype: int64