<a href="https://colab.research.google.com/github/CM-007/DS_Python_SL/blob/main/Pandas_Oprations_SL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structures**
Series + Data Frames

In [1]:
import numpy as np
import pandas as pd

Series

In [2]:
s = pd.Series(np.random.rand(3),index= ['a','b','c'])
type(s)
s
s.index

Index(['a', 'b', 'c'], dtype='object')

In [3]:
d = {'b':1,'a':0,'c':2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [4]:
pd.Series(d,index=['a','c','g','t'])

a    0.0
c    2.0
g    NaN
t    NaN
dtype: float64

In [5]:
pd.Series(5.0,index=[ 1,2,3,4,5,6])

1    5.0
2    5.0
3    5.0
4    5.0
5    5.0
6    5.0
dtype: float64

In [6]:
s[s>s.median()]

b    0.687388
dtype: float64

In [7]:
s[s>s.mean()]

b    0.687388
dtype: float64

In [8]:
s+s+s

a    0.762163
b    2.062165
c    0.913942
dtype: float64

In [9]:
s1 = pd.Series(np.random.rand(5),name="same")
print(s1)
s1.name

0    0.394949
1    0.664627
2    0.997940
3    0.075319
4    0.417186
Name: same, dtype: float64

'same'

In [10]:
s2 = s1.rename("diffrent")
print(s2)
s2.name

0    0.394949
1    0.664627
2    0.997940
3    0.075319
4    0.417186
Name: diffrent, dtype: float64

'diffrent'

# **DataFrame**

In [11]:
from scipy.sparse import random
d ={
    'One':pd.Series(np.random.rand(3),index=['a','b','c']),
     'Two':pd.Series(np.random.rand(4),index=['a','b','c','d'])

}

df = pd.DataFrame(d)
df

        One       Two
a  0.546253  0.048692
b  0.772212  0.534594
c  0.258435  0.894502
d       NaN  0.234937

In [12]:
df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [13]:
df.columns

Index(['One', 'Two'], dtype='object')